<a href="https://colab.research.google.com/github/maltesh87gb/Tandemlooop-Test/blob/main/maltesh_(1)_(3).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1)

In [ ]:
a=float(input("Enter a: "))
b=float(input("Enter b: "))
c=input("Enter operator(+,-,*,/,%): ")
result=0
if(c=='+'):
  result=a+b;
elif(c=='-'):
  result=a-b;
elif(c=='*'):
  result=a*b
elif((b==float('0')&(c=='/'))):
  print('Divided by zero Error')
elif(c=='/'):
  result=a/b;
elif(a%b):
  result=a%b;
print(result)

Enter a: 1
Enter b: 5
Enter operator(+,-,*,/,%): *
5.0

2)

In [ ]:
a=int(input("Enter an integer: "))
s=''
count=0
for i in range(1,a+1):
  if s=='':
    s+=str(i)
  else:
    s+=','+str(int(s[-1])+2)
print(s)

Enter an integer: 5
1,3,5,7,9

3)

In [ ]:
a=int(input("Enter an integer: "))
s=''
count=0
for i in range(1,a+1):
  if s=='':
    s+=str(i)
  elif(i%2==0):
    continue
  else:
      s+=','+str(int(s[-1])+2) +','+str(int(s[-1])+4)  
print(s)

Enter an integer: 5
1,3,5,7,9

4)

In [ ]:
my_list =[1,2,3,4,5,6,7,8,9]

num_list=(input("Enter list elements by space separated: "))
num=num_list.split()
int_num=[]
for i in num:
    int_num.insert(num.index(i),(int(i)))

freq = {}
for item in my_list:
    count=0
    for i in int_num:
        if(i%item==0):
            count+=1
    freq[item] = count
print(freq)

Enter list elements by space separated: 1 2 8 9 12 46 76 82 15 20 30
{1: 11, 2: 8, 3: 4, 4: 4, 5: 3, 6: 2, 7: 0, 8: 1, 9: 1}